---
import { CiLocationOn, CiMail, CiPhone, CiSearch } from 'react-icons/ci';
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import { IoSearch } from 'react-icons/io5';
import SidepanelButton from './sidepanelButton';

---


<header class="w-full flex flex-col">
    <div class="bg-[#0d2d62] text-white py-4 md:flex flex-row justify-around hidden">
        <a class='flex items-center gap-2 hover:text-[#556c91] transition-all hover:cursor-pointer'
            href="tel:+213799039212"><CiPhone size={24} />+213 799-03-92-12</a>


        <a class='flex items-center gap-2 hover:text-[#556c91] transition-all hover:cursor-pointer hover:underline'
            href="https://www.google.com/maps/place/Universit%C3%A9+d'Alger+3+Annexe+Ben+Aknoun/@36.7639659,3.0112916,17z/data=!3m1!4b1!4m6!3m5!1s0x128fb1b1054e13c1:0xbd8bd5f377cb6f67!8m2!3d36.7639616!4d3.0138665!16s%2Fg%2F11h_ccgmk2?entry=ttu" target="_blank"><CiLocationOn size={24} />Université d&apos;Alger 3, Algiers, Algeria</a>


        <a class='flex items-center gap-2 hover:text-[#556c91] transition-all hover:cursor-pointer'
            href="mailto:egmclubua3@gmail.com"><CiMail size={24} />egmclubua3@gmail.com</a>
    </div>
    <div class="px-10 shadow-md flex flex-col justify-between items-center lg:flex-row">
        <div class='md:flex flex-row items-center py-5 gap-5 hidden'>
            <Image src={logo} width={100} alt="La description de mon image." />
            <div class='flex flex-col'>
                <div class='font-bold text-lg font-sans'>Entrepreneur Growth Mindset</div>
                <div class=' text-slate-500 text-sm italic'>Université d&apos;alger 3</div>
            </div>

        </div>
        <div class="flex items-center md:py-0 py-5">
            
            <nav class="">
                <ul class="flex gap-28 text-lg px-20 font-semibold  transition-all">
                    <li class="hover:cursor-pointer hover:underline hover:text-red-800 transition-all">Home</li>
                    <li class="hover:cursor-pointer hover:underline hover:text-red-800 transition-all">Home</li>
                    <li class="hover:cursor-pointer hover:underline hover:text-red-800 transition-all">Home</li>
                    <li class="hover:cursor-pointer hover:underline hover:text-red-800 transition-all">Home</li>
                </ul>
            </nav>
            <div class="mr-5 hover:cursor-pointer">
            <IoSearch size={24}/>


            </div>

        </div>
        


    </div>
</header>